# --- General Python / Environment ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg
.coverage
.cache/
.pytest_cache/
.mypy_cache/

# Virtual Environments
.venv-tf/

# Pytest
pytest.ini

# --- IDE / Editors ---
.vscode/
*.swp
*~
.DS_Store
Thumbs.db

# Data
data/
results/

# Models
models/

# Legacy / Old folder content
old_nano_u/

# --- Rust ---
/target/
**/target/
Cargo.lock

# --- Large Media Files ---
*.png
*.jpg
*.jpeg
*.rgb
*.tif
*.tiff
*.json

# Rust subproject esp_flash
esp_flash/target/
esp_flash/debug/
esp_flash/.vscode/
esp_flash/.venv/
esp_flash/venv/
esp_flash/input_data/
esp_flash/output_data/
esp_flash/.cargo/

# data processing
extract_botanicgarden.py